
div.centered 
{
	width:450px;/*必須要設定你整個DIV區塊的寬度*/
	position:absolute;
	margin:-100px 0px 0px -200px;/*調整水平垂直置中*/
	top: 50%;
	left: 50%;
}
div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

.querycenterdiv 
{
	width: 600px; /*必須要設定你整個DIV區塊的寬度*/
	position: fixed;
	margin: -350px 0px 0px -100px; /*調整水平垂直置中*/
	top: 475px;
	left: 25%;
}


.label{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0066FF;
}
.tableBorder{
    border:solid 1px #0066FF;
    margin-top:100px;
    
}
.message{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:23px;
    font-weight:bold;
    color:#0066FF;
}
#login {
    background-color: #FFB94B;
    background-image: -moz-linear-gradient(center top , #FDDB6F, #FFB94B);
    border-color: #D69E31 #E3A037 #D5982D;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #8F5A0A;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}
#login:hover, #submit:focus {
    background-color: #FDDB6F;
    background-image: -moz-linear-gradient(center top , #FFB94B, #FDDB6F);
}
#login:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: medium none;
}
#login::-moz-focus-inner {
    border: medium none;
}
