@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

a {
	color: #0066cc;
	text-decoration: none;
}

a:link {
	color: #0066cc;
	text-decoration: none;
}

.web_dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .15;
	filter: alpha(opacity =   15);
	-moz-opacity: .15;
	z-index: 101;
	display: none;
}

.web_dialog {
	display: none;
	position: fixed;
	width: 600;
	height: 500;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -100px;
	background-color: #ffffff;
	border: 2px solid #336699;
	padding: 0px;
	z-index: 102;
	font-family: Verdana;
	font-size: 10pt;
}

.web_dialog_title {
	border-bottom: solid 2px #336699;
	background-color: #336699;
	padding: 4px;
	color: White;
	font-weight: bold;
}

.web_dialog_title a {
	color: White;
	text-decoration: none;
}

.web_dialog input {
	width: 150px
}

.web_dialog textarea {
	width: 200px
}

.align_right {
	text-align: right;
}

input[type="text"],input[type="password"] {
	border: 1px solid #7b9ebd;
}

#login_out {
	position: absolute;
	top: 10%;
	width: 100%;
}

#deleteuser_dialog {
	display: none;
}

#removephoto_dialog {
	display: none;
}

#login {
	font-weight: bold;
	border: 3px #666 solid;
	width: 400px;
	margin: 0px auto;
	background: #FFF url(image/popup_bt.jpg) bottom left repeat-x;
}

#clause,.clause {
	display: none;
	position: absolute;
	z-index: 500;
	width: 640px;
}

.clause_wrapper {
	position: relative;
	padding: 0px;
	background: url(image/component_setting_b.png) left bottom;
}

.open_content {
	margin: 20px 30px 20px 30px;
}

.open_title {
	margin: 0px 10px;
	padding: 12px 0px 5px 0px;
	color: #0066cc;
	font-weight: bold;
	font-size: 14px;
	/*border-bottom:1px solid #0066cc;*/
}

.open_title2 {
	margin: 0px 0px;
	padding: 16px 12px 0px;
	color: #0066cc;
	font-weight: bold;
	font-size: 14px;
	background: url(images/open_dialog_dialog.png) 0px 0px;
}

.open_title2 .close_btn {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 15px;
	right: 15px;
	background: url(images/icon_close.png) no-repeat;
	cursor: pointer;
}

.open_title_line {
	padding: 0px;
	margin: 6px 5px 0;
	height: 1px;
	background: #0066cc;
}

/*label{
display:block;
float:left;
width:96px;
height:32px;	
}*/
.open_check {
	
}

.bottom_item {
	position: relative;
	overflow: hidden;
}

.friend_bottom_item {
	position: relative;
	overflow: hidden;
	margin: 0px 30px 0px 30px;
}

.file_path {
	position: absolute;
	width: 220px;
	border: 1px solid #333;
	top: 8px;
}

.login_download {
	font-size: 14px;
	padding: 13px 0px 0px 0px;
}

#downloat_client {
	position: absolute;
	left: 100px;
	width: 173px;
	height: 29px;
	font-size: 14px;
	display: block;
}

#downloat_client a {
	font-weight: bold;
	padding: 6px 0px 0px 30px;
	width: 143px;
	height: 23px;
	color: #000;
	display: block;
	text-decoration: none;
	background: url(image/download_client_btn.jpg) no-repeat;
}

#downloat_client a:link {
	
}

#downloat_client a:visited {
	
}

#downloat_client a:hover {
	background: url(image/download_client_btna.jpg) no-repeat;
	color: #FFF;
}

#downloat_client a:active {
	
}

#login_submit {
	font-weight: bold;
	margin-left: 96px;
	background: none;
	border: 0px;
	display: block;
	width: 78px;
	height: 29px;
	background: url(image/login_btn.jpg) no-repeat;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
}

#login_submit:hover {
	margin-left: 96px;
	background: none;
	border: 0px;
	display: block;
	width: 78px;
	height: 29px;
	background: url(image/login_btna.jpg) no-repeat;
	color: #FFF;
	font-size: 14px;
}

#copy_file_out {
	position: absolute;
	top: 10%;
	width: 100%;
	z-index: 2000;
}

.open_dialog {
	position: absolute;
	display: none;
	z-index: 2000;
	font-weight: bold;
	width: 500px;
	padding: 5px;
	height: 390px;
	background: url(image/open_dialog.png);
}

#move_file {
	position: absolute;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	z-index: 2000;
	font-weight: bold;
	border: 1px #666 solid;
	width: 500px;
	margin: 0px auto;
	height: 390px;
	background: #FFF;
}

.protocol_edit_dialog {
	position: absolute;
	z-index: 2000;
	font-weight: bold;
	width: 500px;
	padding: 5px;
	height: 360px;
	background: url(image/open_dialog_manageprotol.png) no-repeat bottom;
}

.protocol_edit_dialog label.profile_create_title {
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	font-weight: bold;
	text-align: right;
	margin-right: 20px;
}

.protocol_edit_dialog label.profile_create_title {
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	font-weight: bold;
	text-align: right;
	margin-right: 20px;
}

.protocol_edit_dialog .profile_input {
	width: 160px;
}

.snapshot_input {
	width: 140px;
}

.profile_input2 {
	width: 70px;
	border-color: #7b9ebd;
}

.protocol_edit_dialog .open_content {
	height: 240px;
}

#title_new_user {
	background: url(image/icon_boxtitle_adduser_16.png) center left
		no-repeat;
	padding-left: 20px;
}

.title_protocol_setting {
	background: url(image/icon_mouseover_settings.png) center left no-repeat;
	padding-left: 20px;
}

.title_chg_user_password {
	background: url(image/password.png) center left no-repeat;
	padding-left: 20px;
}

.title_ups_setup {
	background: url(image/icon_pagetitle_upssetup_20.png) center left
		no-repeat;
	padding-left: 20px;
}

.title_component_view {
	background: url(image/icon_mouseover_view.png) center left no-repeat;
	padding-left: 20px;
}

.title_create_amazon_s3 {
	background: url(image/icon_pagetitle_amazons3_16.png) center left
		no-repeat;
	padding-left: 20px;
}

.title_create_remote {
	background: url(image/icon_pagetitle_backup_serversetting_16.png) center
		left no-repeat;
	padding-left: 20px;
}

.title_backup_usb {
	background: url(image/icon_pagetitle_frontusb_16.png) center left
		no-repeat;
	padding-left: 20px;
}

#title_move_file {
	background: url(image/move.png) center left no-repeat;
	padding-left: 20px;
}

#title_information,.title_information {
	background: url(image/icon_info_16.png) center left no-repeat;
	padding-left: 20px;
	border-bottom: 1px solid #0066cc;
}

#title_copy_file {
	background: url(image/copy.png) center left no-repeat;
	padding-left: 20px;
}

#title_information {
	background: url(image/icon_info_16.png) center left no-repeat;
	padding-left: 20px;
}

#sharePlink_title_information_messages {
	background: url(image/public.png) center left no-repeat;
	padding-left: 20px;
}

#shareSToD_title_information_messages {
	background: url(image/hicloud.png) center left no-repeat;
	padding-left: 20px;
}

#title_share_file {
	background: url(image/share.png) center left no-repeat;
	padding-left: 20px;
}

#my_folder_copy,#my_folder_move {
	background: #072044;
	margin: -4px 0px 0px;
}

.close_btn {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 10px;
	right: 10px;
	background: url(image/icon_close.png) no-repeat;
	cursor: pointer;
}

.close_btn:hover {
	background: url(image/icon_close_on.png) no-repeat;
}

#create_user {
	display: none;
}

.create_user_closed {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 3px;
	right: 3px;
	background: url(image/close_btn.png) no-repeat;
	cursor: pointer;
}

.create_user_closed:hover {
	background: url(image/close_btn_a.png) no-repeat;
}

.move_file_list {
	overflow: scroll;
	height: 280px;
	margin-bottom: 10px;
}

.movefile_btn {
	position: absolute;
	right: 0px;
	font-size: 14px;
}

.movefile_btn a {
	text-decoration: none;
	background: url(image/blue_btn.jpg) repeat-x center center;
	border: 1px solid #07253d;
	border-radius: 4px;
	color: #fff;
	width: 130px;
	height: 22px;
	text-align: center;
	padding-top: 5px;
	font-size: 14px;
	display: block;
}

.movefile_btn a:link {
	
}

.movefile_btn a:visited {
	
}

.movefile_btn a:hover {
	background: url(image/blue_btna.jpg) center repeat-x;
}

.movefile_btn a:active {
	
}

.cancel_btn {
	position: absolute;
	right: 0px;
	font-size: 14px;
}

.cancel_btn a {
	text-decoration: none;
	background: url(image/gray_btn.jpg) repeat-x center center;
	color: #000;
	width: 78px;
	height: 22px;
	border: 1px solid #8a8a8a;
	border-radius: 4px;
	text-align: center;
	padding-top: 5px;
	font-size: 14px;
	display: block;
}

.cancel_btn a:link {
	
}

.cancel_btn a:visited {
	
}

.cancel_btn a:hover {
	background: url(image/gray_btn_a.jpg) repeat-x center center;
	color: #FFF;
}

.cancel_btn a:active {
	
}

.move_file_treeview {
	padding: 3px;
	font-size: 12px;
	font-weight: 100;
}

#title_image_preview {
	background: url(image/preview.png) center left no-repeat;
	padding-left: 20px;
}

#image_preview_out {
	position: absolute;
	top: 10%;
	width: 100%;
}

#image_preview {
	font-weight: bold;
	border: 1px #666 solid;
	width: 600px;
	margin: 0px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	background: #FFF;
}

.ok_btn {
	margin: 0px 230px;
	font-size: 14px;
}

.ok_btn a {
	text-decoration: none;
	background: url(image/login_btn.jpg) no-repeat;
	color: #fff;
	width: 78px;
	height: 24px;
	text-align: center;
	padding-top: 5px;
	font-size: 14px;
	display: block;
}

.ok_btn a:link {
	
}

.ok_btn a:visited {
	
}

.ok_btn a:hover {
	background: url(image/login_btna.jpg) no-repeat;
}

.ok_btn a:active {
	
}

.sample_pic {
	padding-bottom: 10px;
}

#title_upload_file {
	background: url(image/upload.png) center left no-repeat;
	padding-left: 20px;
}

#upload_file_list {
	overflow: hidden;
	height: 50px;
	margin-bottom: 10px;
}

#upload_ok {
	font-size: 14px;
	line-height: 20px;
}

#upload_ok img {
	float: left;
	padding-right: 10px;
}

#tradition_upload {
	display: none;
	position: relative;
	height: 60px;
	padding: 20px 10px;
	background: url(image/open_dialog_upload.png) center -52px;
	border: none;
}

.tra_upload_bottom {
	display: none;
	overflow: hidden;
	background: url(image/open_dialog_upload.png) bottom center;
	border: none;
	padding: 0px 0 10px;
}

.tradition_upload_filed {
	position: relative;
	width: 233px;
	height: 32px;
}

.tradition_upload_filed .fake_file_path {
	margin: 2px 0;
}

#upload_alert_words,#upload_alert_word_pre {
	font-weight: bold;
	padding: 2px 10px;
	color: #000000;
}

#browserTip {
	background: url(image/icon_status_yellow.png) no-repeat left top;
	font-weight: bold;
	padding: 2px 10px 2px 20px;
	color: #000000;
}

#upload_alert_words span,#upload_alert_word_pre span {
	color: #0066cc;
	cursor: pointer;
}

#upload_alert_words span:hover,#upload_alert_word_pre span:hover {
	color: #0066cc;
	text-decoration: underline;
}

#choose_file {
	padding: 4px;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	border: #b6b6b6 1px solid;
	margin-bottom: 10px;
}

.upload_btn_b {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(image/blue_btn.jpg) repeat-x;
	color: #FFF;
	display: block;
	padding: 2px 3px;
	line-height: 20px;
	border: 1px #000 solid;
	cursor: pointer;
}

.upload_btn_b:hover {
	background: url(image/blue_btna.jpg) repeat-x;
}

.each_file {
	position: relative;
	padding-bottom: 6px;
}

.browse_file {
	background: url(image/gray_btn.jpg);
	border: 1px #8a8a8a solid;
	padding: 0px 10px;
	height: 20px;
}

.browse_file:hover {
	
}

.file_path_name {
	height: 18px;
}

.ifile {
	left: 0px;
	right: 0px;
}

.ifile2 {
	position: absolute;
	left: 0px;
	right: 0px;
	opacity: 0;
	filter: alpha(opacity =   0);
}

#upload_btn {
	background: url(image/gray_btn.jpg);
	border: 1px #8a8a8a solid;
	width: 124px;
}

#upload_btn img {
	padding-right: 3px;
}

#upload_btn a {
	display: block;
	padding-left: 20px;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 2px;
	padding: 2px 8px 2px 2px;
}

#upload_btn a:link {
	
}

#upload_btn a:visited {
	
}

#upload_btn a:hover {
	background: url(image/gray_btn_a.jpg);
	color: #FFF;
}

#upload_btn a:active {
	
}

#revert {
	display: none;
	position: absolute;
	z-index: 1500;
	font-weight: bold;
	padding: 5px;
	width: 700px;
	margin: 0px auto;
	height: 390px;
	background: url(image/open_dialog_revert.png)
}

#title_revert {
	background: url(image/icon_mouseover_recovery.png) center left no-repeat;
	padding-left: 20px;
}

.revert_comment_text {
	width: 236px;
}

#revert_list {
	height: 300px;
	overflow: auto;
}

#manage_revert {
	border: #999 2px solid;
	overflow: hidden;
}

.revert_version {
	float: left;
	border-right: solid #b5b2b5 1px;
	border-left: solid #fff 1px;
	padding: 4px 8px;
	width: 40px;
	text-align: center;
}

.revert_time {
	float: left;
	border-right: solid #b5b2b5 1px;
	border-left: solid #fff 1px;
	padding: 4px 8px;
	width: 120px;
	text-align: center;
}

.revert_comment {
	float: left;
	border-right: solid #b5b2b5 1px;
	border-left: solid #fff 1px;
	padding: 4px 8px;
	width: 120px;
	text-align: center;
	overflow: inherit;
}

.revert_btn {
	float: left;
	border-left: solid #fff 1px;
	padding: 4px 8px;
	width: 85px;
	text-align: center;
}

.manage_list .revert_version,.manage_list .revert_time,.manage_list .revert_comment,.manage_list_odd .revert_version,.manage_list_odd .revert_time,.manage_list_odd .revert_comment
	{
	text-align: left;
}

tr#revert_title td {
	background: url(image/bar2.jpg) bottom;
	text-align: center;
	padding: 3px;
	font-weight: bold;
}

#revert_list table {
	border: solid #b5b2b5 1px;
	table-layout: fixed;
	width: 100%;
	font-size: 12px;
}

#revert_list td {
	border: solid #b5b2b5 1px;
}

#revert_list tr {
	border: solid #b5b2b5 1px;
}

.revert_btns {
	display: block;
	width: 60px;
	border: 1px solid #000;
	padding: 0px;
	margin: 0px;
	background: url(image/blue_btn.jpg);
	text-align: center;
}

.revert_btns a {
	text-decoration: none;
	display: block;
	color: #FFF;
	background: url(image/blue_btn.jpg);
}

.revert_btns a:link {
	
}

.revert_btns a:visited {
	
}

.revert_btns a:hover {
	background: url(image/blue_btna.jpg);
}

.revert_btns a:active {
	
}

.t_even td {
	padding: 3px;
	background: #fff;
	font-weight: 100;
	color: #333;
}

.t_odd td {
	padding: 3px;
	background: #f6f6f6;
	font-weight: 100;
	color: #333;
}

.out {
	width: 100%;
}

#change_pic {
	position: absolute;
	z-index: 2000;
	font-weight: bold;
	border: 1px #666 solid;
	width: 500px;
	margin: 0px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	background: #FFF;
}

.pp_pic {
	text-align: center;
	padding-bottom: 10px;
}

.pp_pic img {
	max-width: 440px;
}

#title_change_pictures {
	background: url(image/change_picture.png) center left no-repeat;
	padding-left: 20px;
}

#index_upload_pic {
	width: 100%;
	text-align: center;
	margin: 0px auto;
}

#index_upload_pic #upload_pic {
	margin-bottom: 6px;
}

#index_upload_pic .browse_pic {
	position: absolute;
	left: 160px;
	right: 0px;
	opacity: 0;
}

.revert_more {
	
}

.revert_more a {
	display: block;
	width: 20px;
	height: 20px;
	background: url(image/advance_btn.png);
}

.revert_more a:link {
	
}

.revert_more a:visited {
	
}

.revert_more a:hover {
	background: url(image/advance_btna.png);
}

.revert_more a:active {
	
}

.revert_setting {
	position: absolute;
	font-size: 14px;
	top: 100px;
	width: 100%;
	z-index: 2500;
}

.revert_edit {
	width: 240px;
	margin: 0 auto;
	padding: 4px;
	z-index: 1000;
	background: #FFF;
	border: 1px solid #b5b2b5;
}

label.revert_kind {
	display: block;
	width: 100px;
	height: 20px;
}

.revert_edit textarea {
	margin-bottom: 4px;
}

.revert_edit_bottom {
	position: relative;
	height: 40px;
}

.revert_save_btn {
	position: absolute;
	right: 90px;
	top: 6px;
	display: block;
}

.revert_save_btn a {
	
}

.revert_save_btn a:link {
	
}

.revert_save_btn a:visited {
	
}

.revert_save_btn a:hover {
	
}

.revert_save_btn a:active {
	
}

.revert_cancel_btn {
	position: absolute;
	right: 4px;
	top: 6px;
}

.revert_cancel_btn a {
	
}

.revert_cancel_btn a:link {
	
}

.revert_cancel_btn a:visited {
	
}

.revert_cancel_btn a:hover {
	
}

.revert_cancel_btn a:active {
	
}

.revert_check {
	float: left;
	width: 18px;
}

.revert_kind {
	
}

.share_list {
	border: 1px solid #CCC;
	margin-bottom: 10px;
	max-height: 280px;
	overflow: auto;
}

.share_title {
	background: url(image/bar.jpg);
	overflow: hidden;
	padding-top: 0px;
	text-align: center;
}

.share_check {
	float: left;
	display: block;
	width: 40px;
	height: 16px;
	border-right: #CCC 1px solid;
	text-align: center;
	vertical-align: middle;
	padding: 4px 0px;
}

.share_id {
	float: left;
	display: block;
	width: 185px;
	line-height: 20px;
	border-right: #CCC 1px solid;
	vertical-align: middle;
	padding: 2px;
}

.share_name {
	float: left;
	display: block;
	line-height: 20px;
	vertical-align: middle;
	width: 185px;
	padding: 2px;
}

.share_odd {
	border-top: 1px solid #CCC;
	background: #f6f6f6;
	font-weight: 100;
	overflow: hidden;
}

.share_even {
	border-top: 1px solid #CCC;
	background: #fff;
	font-weight: 100;
	overflow: hidden;
}

.save_btn {
	position: absolute;
	right: 90px;
	font-size: 14px;
}

.save_btn a {
	text-decoration: none;
	background: url(image/blue_btn.jpg) repeat-x center center;
	border: 1px solid #07253d;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	color: #fff;
	width: 78px;
	height: 22px;
	text-align: center;
	padding-top: 5px;
	font-size: 14px;
	display: block;
}

.save_btn a:link {
	
}

.save_btn a:visited {
	
}

.save_btn a:hover {
	background: url(image/blue_btna.jpg) repeat-x;
}

.save_btn a:active {
	
}

#loading_out {
	position: absolute;
	width: 100%;
	top: 40%;
	z-index: 2500;
}

#loading {
	margin: 0 auto;
	text-align: center;
	opacity: 0.7;
	position: relative;
	z-index: 9999;
}

#jplayer {
	position: absolute;
	z-index: 2000;
	font-weight: bold;
	border: 1px #666 solid;
	width: 420px;
	margin: 0px auto;
	height: 137px;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#jplayer_video {
	position: absolute;
	z-index: 2000;
	font-weight: bold;
	border: 1px #666 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 480px;
	margin: 0px auto;
	height: 387px;
	background: #FFF;
}

#title_jplayer {
	background: url(image/music.png) center left no-repeat;
	padding-left: 20px;
}

#title_video_jplayer {
	background: url(image/film.png) center left no-repeat;
	padding-left: 20px;
}

#friend_search {
	height: 14px;
	padding: 2px;
	border: 1px solid #7b9ebd;
}

#quotaForm {
	text-align: center;
	margin: 0px auto;
	padding: 10px;
	width: 300px;
	font-size: 14px;
}

#quotaForm p {
	text-align: left;
}

#updateQuota {
	margin: 4px 0px 0px 103px;
}

#share_list {
	max-width: 395px;
	margin: 0px;
	padding: 10px 0px 10px 15px;
	overflow: hidden;
}

#share_list div img {
	float: left;
	margin: 0px;
	height: 50px;
	padding: 5px 15px 5px 0;
}

.share_list_intro {
	font-size: 12px;
}

.share_list_intro span {
	color: #39599c;
	font-weight: bold;
}

#upload_title {
	position: relative;
}

.create_btn {
	position: absolute;
	right: 90px;
	top: 0px;
	display: block;
	cursor: pointer;
	background: url(image/blue_btn.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 4px;
	color: #fff;
	width: 78px;
	padding: 4px 0px;
	font-size: 14px;
}

.create_btn:hover {
	background: url(image/blue_btna.jpg);
}

.alert {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 220px;
	padding: 5px;
	background: url(image/open_dialog_alert.png);
}

.dialog_alert {
	padding-left: 20px;
	background: url(image/icon_status_yellow.png) no-repeat left top;
}

.alert .dialog_con {
	height: 50px;
}

.alert .bottom_item {
	position: relative;
	overflow: inherit;
	float: left;
	left: 50%;
	padding-bottom: 10px;
}

.alert a.s_button {
	position: relative;
	right: 50%;
}

.dialog {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 300px;
	padding: 5px;
	background: url(image/open_dialog_dialog.png);
}

.dialog2 {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 310px;
	padding: 5px;
	/*background:url(image/open_dialog_dialog.png);*/
}

.dialog_input {
	margin: 6px 0px;
	width: 100%;
}

#forgetPwd_instruction {
	padding-left: 20px;
	background: url(image/icon_status_yellow.png) no-repeat left top;
}

#forgetPwd_instruction span {
	color: #F00;
}

.alert_list li {
	padding: 0 5px;
	list-style-position: inside;
	list-style-type: decimal;
}

#changepassword_dialog {
	display: none;
}

#changepassword_dialog_con_messages {
	padding: 0px 0px 4px;
}

.dialog_label {
	float: left;
	padding-top: 2px;
	display: block;
	width: 120px;
}

.dialog_chpw_input {
	margin: 0px 0px 10px;
	width: 155px;
}

.dialog_title {
	height: 30px;
	padding: 0px 0px 0px 0px;
	color: #0066cc;
	font-weight: bold;
	font-size: 14px;
}

.dialog_con {
	padding: 10px;
	height: 76px;
}

.dialog_con2 {
	padding: 10px;
	background: url(image/open_dialog_bottom.png) 0px bottom;
}

.dialog .bottom_item {
	height: 30px;
	padding: 10px 0px;
	font-weight: bold;
}

.dialog2 .bottom_item {
	height: 30px;
	padding: 10px 0px 0px;
	font-weight: bold;
}

#fileupload,#fileupload_flash {
	display: none;
	position: absolute;
	z-index: 2000;
}

.upload_row {
	padding: 6px 0px;
}

.upload_row span {
	display: inline-block;
}

.upload_file_name {
	width: 220px;
	overflow: hidden;
}

.upload_file_size {
	width: 100px;
}

.upload_file_progress_bg {
	border: 1px solid #666;
	background: #FFFFFF;
	width: 120px;
	height: 12px;
	border-radius: 4px;
	overflow: hidden;
}

.upload_file_progress_bar {
	width: 40%;
	height: 100%;
	background: url(../js/plugins/multiupload/pbar-ani.gif);
}

.upload_cancel {
	width: 14px;
	height: 14px;
	margin-left: 20px;
	cursor: pointer;
	background: url(image/cancelbutton.gif);
}

.upload_cancel:hover {
	background-position: 14px top;
}

#flash_upload {
	float: left;
}

.trap_sink_title {
	background: url(image/backup_title_list.jpg);
	color: #333333;
	margin-top: 4px;
	border-top: 1px solid #0066cc;
	border-bottom: 1px solid #0066cc;
	overflow: hidden;
}

.trap_sink_title div {
	text-align: left;
	font-weight: bold;
}

.trap_sink_1 {
	float: left;
	width: 130px;
	font-size: 11px;
	padding: 8px 4px 6px;
	font-weight: 100;
}

.trap_sink_2 {
	float: left;
	width: 140px;
	font-size: 11px;
	padding: 8px 4px 6px;
	font-weight: 100;
}

.trap_sink_title .trap_sink_2 {
	background: url(image/titlebar_line_divide.png) no-repeat left bottom;
}

.clause_wrapper {
	position: relative;
	padding: 0px;
	background: url(image/component_setting_b.png) left bottom;
}

.active_wrapper {
	position: relative;
	padding: 0px 10px 10px;
	background: url(image/component_setting_b.png) left bottom;
}

.active_wrapper h3 {
	padding: 5px 0px;
	color: #0066cc;
}

.active_wrapper .close_btn {
	top: -5px;
}

.clause_content {
	padding: 10px 5px 10px;
}

.active_contant {
	padding: 10px 5px 10px;
	min-height: 160px;
	line-height: 20px;
}

.active_list li {
	padding: 2px 0;
}

.active_list li:hover {
	background: #ccc;
}

.active_contant li span {
	display: inline-block;
	width: 50px;
	font-weight: bold;
}

.clause_list {
	height: 360px;
	overflow: auto;
	margin: 0px 20px 10px;
	line-height: 20px;
}

.clause_list h3 {
	padding: 5px 0;
}

.clause_check {
	margin: 0px 20px 0px;
}

#hint_box {
	display: none;
	z-index: 9900;
	position: absolute;
	width: 312px;
}

.hint_content {
	padding: 20px 20px 16px;
	line-height: 18px;
	background: url(image/open_dialog_bottom.png) bottom;
}

#dvLoading {
	background: url(images/loader.gif) no-repeat center center;
	height: 100px;
	width: 100px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	display: none;
}

.centerdiv {
	width: 600px; /*必須要設定你整個DIV區塊的寬度*/
	position: fixed;
	margin: -250px 0px 0px -100px; /*調整水平垂直置中*/
	top: 330px;
	left: 25%;
}


div.centerdiv {
	width: 600px; /*必須要設定你整個DIV區塊的寬度*/
	position: fixed;
	margin: -250px 0px 0px -100px; /*調整水平垂直置中*/
	top: 330px;
	left: 25%;
}

.input_error {
	background: url("../images/error.gif") no-repeat 0px 0px;
	color: red;
	display: inline-block;
	padding-left: 16px;
}

.input_success {
	background: url("../images/checked.gif") no-repeat 0px 0px;
	color: blue;
	display: inline-block;
	padding-left: 16px;
}

label.error {
	background: url("../images/error.gif") no-repeat 0px 0px;
	color: red;
	display: inline-block;
	padding-left: 16px;
}

#mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: none
}

.box {
	width: 300px;
	height: 150px;
	border: 1px solid #4894DF;
	position: fixed;
	top: 50%;
	margin-top: -75px;
	left: 50%;
	margin-left: -150px;
	_position: absolute;
	_top: expression(eval(documentElement.scrollTop +0.5 * 
		 documentElement.clientHeight-90)+"px" );
	z-index: 1000;
	display: none;
	background: #FFF
}

.box-title {
	width: 280px;
	height: 24px;
	line-height: 26px;
	background: #B4D1ED;
	padding: 0px 10px;
	border-bottom: 1px solid #4894DF;
	font-size: 12px;
	font-weight: bold;
}

.box-title span {
	float: right;
	cursor: pointer
}

.box-con p {
	line-height: 25px;
	margin-top: 10px;
	text-align: center;
	height: 25px
}

.box-btn input {
	width: 50px;
	height: 25px
}

.box2 {
	height: 50px;
	border: 1px solid #4894DF;
	position: fixed;
	top: 50%;
	margin-top: -75px;
	left: 50%;
	margin-left: -150px;
	_position: absolute;
	_top: expression(eval(documentElement.scrollTop +0.5 * 
		 documentElement.clientHeight-90)+"px" );
	z-index: 1000;
	display: none;
	background: #FFF
}

.box2-title {
	height: 26px;
	line-height: 10px;
	background: #B4D1ED;
	padding: 0px 10px;
	border-bottom: 1px solid #4894DF;
	font-size: 12px;
	font-weight: bold;
}

.box2-title span {
	float: right;
	cursor: pointer
}

.box2-con table {
	line-height: 25px;
	margin-top: 10px;
	text-align: center;
	height: 25px
}