.ui-jqgrid {
    font-size: 11px;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-view {
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding: 0.3em 0.2em 0.2em 0.3em;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 0.1em 0 0.2em;
}
.ui-jqgrid .ui-jqgrid-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    top: 50%;
    width: 19px;
}
.ui-jqgrid .ui-jqgrid-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
    padding: 0;
}
.ui-jqgrid .ui-jqgrid-hdiv {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 20px;
}
.ui-jqgrid .ui-jqgrid-htable {
    margin: 0;
    table-layout: fixed;
}
.ui-jqgrid .ui-jqgrid-htable th {
    height: 22px;
    padding: 0 2px;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    height: 17px;
    overflow: hidden;
    position: relative;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    border-bottom: 0 none;
    border-top: 0 none;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-left: 0 none;
}
.ui-th-rtl, .ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
    border-right: 0 none;
}
.ui-jqgrid .ui-th-div-ie {
    height: 17px;
    white-space: nowrap;
}
.ui-jqgrid .ui-jqgrid-resize {
    cursor: e-resize;
    display: inline;
    height: 20px !important;
    overflow: hidden;
    position: relative;
}
.ui-jqgrid .ui-grid-ico-sort {
    cursor: pointer !important;
    display: inline;
    overflow: hidden;
    position: absolute;
}
.ui-jqgrid .ui-icon-asc {
    height: 12px;
    margin-top: -3px;
}
.ui-jqgrid .ui-icon-desc {
    height: 12px;
    margin-top: 3px;
}
.ui-jqgrid .ui-i-asc {
    height: 16px;
    margin-top: 0;
}
.ui-jqgrid .ui-i-desc {
    height: 16px;
    margin-left: 13px;
    margin-top: 0;
}
.ui-jqgrid .ui-jqgrid-sortable {
    cursor: pointer;
}
.ui-jqgrid tr.ui-search-toolbar th {
    border-top-color: inherit !important;
    border-top-style: ridge !important;
    border-top-width: 1px !important;
}
tr.ui-search-toolbar input {
    margin: 1px 0 0;
}
tr.ui-search-toolbar select {
    margin: 1px 0 0;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
    text-align: left;
}
.ui-jqgrid .ui-jqgrid-btable {
    margin: 0;
    table-layout: fixed;
}
.ui-jqgrid tr.jqgrow td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    white-space: pre;
}
.ui-jqgrid tr.jqgfirstrow td {
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 2px;
}
.ui-jqgrid tr.jqgroup td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    white-space: pre;
}
.ui-jqgrid tr.jqfoot td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: bold;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    white-space: pre;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: left;
}
.ui-jqgrid tr.ui-row-rtl td {
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 1px;
    text-align: right;
}
.ui-jqgrid td.jqgrid-rownum {
    border: 0 none;
    margin: 0;
    padding: 0 2px;
}
.ui-jqgrid .ui-jqgrid-resize-mark {
    background-color: #777777;
    border: 0 none;
    cursor: col-resize;
    display: none;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 2px;
}
.ui-jqgrid .ui-jqgrid-sdiv {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-ftable {
    margin-bottom: 0;
    table-layout: fixed;
}
.ui-jqgrid tr.footrow td {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    font-weight: bold;
    height: 21px;
    overflow: hidden;
    padding: 0 2px;
    white-space: nowrap;
}
.ui-jqgrid tr.footrow-ltr td {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: left;
}
.ui-jqgrid tr.footrow-rtl td {
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 1px;
    text-align: right;
}
.ui-jqgrid .ui-jqgrid-pager {
    border-bottom: 0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    height: 25px;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    white-space: nowrap;
}
.ui-jqgrid .ui-pager-control {
    position: relative;
}
.ui-jqgrid .ui-pg-table {
    margin: 0;
    padding-bottom: 2px;
    position: relative;
    width: auto;
}
.ui-jqgrid .ui-pg-table td {
    font-weight: normal;
    padding: 1px;
    vertical-align: middle;
}
.ui-jqgrid .ui-pg-button {
    height: 19px !important;
}
.ui-jqgrid .ui-pg-button span {
    display: block;
    float: left;
    margin: 1px;
}
.ui-jqgrid .ui-pg-button:hover {
    padding: 0;
}
.ui-jqgrid .ui-state-disabled:hover {
    padding: 1px;
}
.ui-jqgrid .ui-pg-input {
    font-size: 0.8em;
    height: 13px;
    margin: 0;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    font-size: 0.8em;
    height: 18px;
    line-height: 18px;
    margin: 0;
}
.ui-jqgrid .ui-separator {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: right;
    height: 18px;
    margin: 1px;
}
.ui-jqgrid .ui-paging-info {
    font-weight: normal;
    height: 19px;
    margin-right: 4px;
    margin-top: 3px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
    float: left;
    list-style: none outside none;
    padding: 1px 0;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
    cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
    float: left;
    margin: 0 2px;
}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
    margin: 0;
}
.ui-jqgrid td textarea {
    height: auto;
    width: auto;
}
.ui-jqgrid .ui-jqgrid-toppager {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    height: 25px !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    white-space: nowrap;
}
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
    display: block;
}
.ui-jqgrid .ui-subgrid {
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-jqgrid .ui-subgrid table {
    table-layout: fixed;
}
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    height: 18px;
}
.ui-jqgrid .ui-subgrid td.subgrid-data {
    border-top: 0 none !important;
}
.ui-jqgrid .ui-subgrid td.subgrid-cell {
    border-width: 0 0 1px;
}
.ui-jqgrid .ui-th-subgrid {
    height: 20px;
}
.ui-jqgrid .loading {
    border-width: 2px !important;
    display: none;
    font-weight: bold;
    left: 45%;
    margin: 5px;
    padding: 6px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: auto;
    z-index: 101;
}
.ui-jqgrid .jqgrid-overlay {
    display: none;
    z-index: 100;
}
* html .jqgrid-overlay {
}
* .jqgrid-overlay iframe {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.ui-jqgrid .ui-userdata {
    border-left: 0 none;
    border-right: 0 none;
    height: 21px;
    overflow: hidden;
}
.ui-jqdialog {
    display: none;
    font-size: 11px;
    overflow: visible;
    padding: 0.2em;
    position: absolute;
    width: 300px;
}
.ui-jqdialog .ui-jqdialog-titlebar {
    padding: 0.3em 0.2em;
    position: relative;
}
.ui-jqdialog .ui-jqdialog-title {
    margin: 0.1em 0 0.2em;
}
.ui-jqdialog .ui-jqdialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    top: 50%;
    width: 19px;
}
.ui-jqdialog .ui-jqdialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-jqdialog .ui-jqdialog-titlebar-close:hover, .ui-jqdialog .ui-jqdialog-titlebar-close:focus {
    padding: 0;
}
.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: auto;
    padding: 0.3em 0.2em;
}
.ui-jqdialog .ui-jqconfirm {
    border-width: 3px;
    bottom: 10px;
    display: none;
    height: 80px;
    overflow: visible;
    padding: 0.4em 1em;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 220px;
}
.ui-jqdialog-content .FormGrid {
    margin: 0;
}
.ui-jqdialog-content .EditTable {
    margin-bottom: 0;
    width: 100%;
}
.ui-jqdialog-content .DelTable {
    margin-bottom: 0;
    width: 100%;
}
.EditTable td input, .EditTable td select, .EditTable td textarea {
    margin: 0;
}
.EditTable td textarea {
    height: auto;
    width: auto;
}
.ui-jqdialog-content td.EditButton {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}
.ui-jqdialog-content td.navButton {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.ui-jqdialog-content input.FormElement {
    padding: 0.3em;
}
.ui-jqdialog-content .data-line {
    border: 0 none;
    padding-top: 0.1em;
}
.ui-jqdialog-content .CaptionTD {
    border: 0 none;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
.ui-jqdialog-content .DataTD {
    border: 0 none;
    padding: 2px;
    vertical-align: top;
}
.ui-jqdialog-content .form-view-data {
    white-space: pre;
}
.fm-button {
    cursor: pointer;
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0.4em 0.5em;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}
.fm-button-icon-left {
    padding-left: 1.9em;
}
.fm-button-icon-right {
    padding-right: 1.9em;
}
.fm-button-icon-left .ui-icon {
    left: 0.2em;
    margin-left: 0;
    margin-top: -8px;
    position: absolute;
    right: auto;
    top: 50%;
}
.fm-button-icon-right .ui-icon {
    left: auto;
    margin-left: 0;
    margin-top: -8px;
    position: absolute;
    right: 0.2em;
    top: 50%;
}
#nData, #pData {
    float: left;
    margin: 3px;
    padding: 0;
    width: 15px;
}
.ui-jqgrid .selected-row, div.ui-jqgrid .selected-row td {
    border-left: 0 none;
    font-style: normal;
}
.ui-jqgrid .tree-wrap {
    float: left;
    height: 18px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.ui-jqgrid .tree-minus {
    height: 18px;
    overflow: hidden;
    position: absolute;
    width: 18px;
}
.ui-jqgrid .tree-plus {
    height: 18px;
    overflow: hidden;
    position: absolute;
    width: 18px;
}
.ui-jqgrid .tree-leaf {
    height: 18px;
    overflow: hidden;
    position: absolute;
    width: 18px;
}
.ui-jqgrid .treeclick {
    cursor: pointer;
}
.jqmOverlay {
    background-color: #000000;
}
* iframe.jqm {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.ui-jqgrid-dnd tr td {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    height: 20px;
}
.ui-jqgrid .ui-jqgrid-title-rtl {
    float: right;
    margin: 0.1em 0 0.2em;
}
.ui-jqgrid .ui-jqgrid-hbox-rtl {
    float: right;
    padding-left: 20px;
}
.ui-jqgrid .ui-jqgrid-resize-ltr {
    float: right;
    margin: -2px -2px -2px 0;
}
.ui-jqgrid .ui-jqgrid-resize-rtl {
    float: left;
    margin: -2px 0 -1px -3px;
}
.ui-jqgrid .ui-sort-rtl {
    left: 0;
}
.ui-jqgrid .tree-wrap-ltr {
    float: left;
}
.ui-jqgrid .tree-wrap-rtl {
    float: right;
}
.ui-jqgrid .ui-ellipsis {
    -moz-binding: url("ellipsis-xbl.xml#ellipsis");
    text-overflow: ellipsis;
}
.ui-searchFilter {
    display: none;
    overflow: visible;
    position: absolute;
    z-index: 770;
}
.ui-searchFilter table {
    margin: 0;
    position: relative;
    width: auto;
}
.ui-searchFilter table td {
    margin: 0;
    padding: 1px;
}
.ui-searchFilter table td input, .ui-searchFilter table td select {
    margin: 0.1em;
}
.ui-searchFilter .ui-state-default {
    cursor: pointer;
}
.ui-searchFilter .divider hr {
    margin: 1px;
}
